# Игнорируем гит (это уменьшит размер контекста сборки)
.git/
.gitignore

# Игнорируем локальное виртуальное окружение!
# В контейнере мы ставим всё заново, чисто.
venv/
__pycache__/

# Игнорируем секреты и временные файлы
.env
hosts.yaml
*.log
*.md
LICENSE

